<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/connexion.css">
</head>
<body>
    <h3>Connexion</h3>
    <div class="item">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom">
    </div>
    <div class="item">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
    </div>
    <button class="btn btn-connexion">Connecter</button>
</body>
</html>
