.list-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-item {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px;

    font-size: 0.8em;
}

.info-placeholder {
    font-size: 1.2em;
    font-weight: bold;
}