@media print {
    @page {
        size: 105mm 42mm landscape;
    }
    body {
        width: 10.5cm;
        height: 4cm;
    }

    header, head, footer, form, aside{
        display: none;
    }

    main {
        width: auto;
        height: auto;
    }

    .qrcode {
        width: 105mm;
        height: 42mm;
    }
}

